<div class="sg-pattern-header">Brand colors</div>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3296DC;"></span>
		<span class="sg-label">
			var(--blue) <br />
			$blue<br />
			#3296DC
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7DE09A;"></span>
		<span class="sg-label">
			var(--green)<br />
			$green<br />
			#7DE09A
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #44C7AA;"></span>
		<span class="sg-label">
			var(--teal)<br />
			$teal<br />
			#44C7AA
		</span>
	</li>
</ul>
<!-- Utility Colors -->
<div class="sg-pattern-header">Utility colors</div>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #44C7AA;"></span>
		<span class="sg-label">
			var(--teal) <br />
			$teal<br />
			#44C7AA
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2673A9;"></span>
		<span class="sg-label">
			var(--dark-blue) <br />
			$dark-blue<br />
			#2673A9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFE989;"></span>
		<span class="sg-label">
			var(--yellow) <br />
			$yellow<br />
			#FFE989
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #D88B45;"></span>
		<span class="sg-label">
			var(--orange)<br />
			$orange<br />
			#D88B45
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #E24C4A;"></span>
		<span class="sg-label">
			var(--red) <br />
			$red<br />
			#E24C4A
		</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ECF9F6;"></span>
		<span class="sg-label">
			var(--light-teal)<br />
			light-teal<br />
			#ECF9F6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EAF4FB;"></span>
		<span class="sg-label">
			var(--light-blue)<br />
			$light-blue<br />
			#EAF4FB
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFCF3;"></span>
		<span class="sg-label">
			var(--light-yellow) <br />
			$light-yellow<br />
			#FFFCF3
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #FBF3EC;"></span>
		<span class="sg-label">
			var(--light-orange) <br />
			$light-orange<br />
			#FBF3EC
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #FCEDEC;"></span>
		<span class="sg-label">
			var(--light-red) <br />
			$light-red<br />
			#FCEDEC
		</span>
	</li>
</ul>
<div class="sg-pattern-header">Neutral colors</div>
<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			var(--black) <br />
			$black<br />
			#000000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4A4A4A;"></span>
		<span class="sg-label">
			var(--dark-gray) <br />
			$dark-gray<br/>
			#4A4A4A
		</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #BEBEBE;"></span>
		<span class="sg-label">
			var(--light-gray)<br />
			$light-gray<br>
			#BEBEBE
		</span>
	</li>
</ul>
