font-family: 'Lato', 'Arial', sans-serif;<br>
font-family: var(--font);<br>
font-family: $font;<br>
<span class="lato">
  font-weight: 400;
</span><br>
<span class="lato lato--700">
  font-weight: 700;
</span>
