<div class="message message--warning">
  <div class="message__icon-container">
    <span class="icon icon--medium icon__warning"></span>
  </div>
  <div class="message__container">
    <span class="bold">Warning:</span> {{ messageWarning }}
  </div>
  <!--<div class="message__list-container">
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
    </ul>
  </div>-->
</div>
