<div class="message message--success">
  <div class="message__icon-container">
    <span class="icon icon--medium icon__checkmark"></span>
  </div>
  <div class="message__container">
    <span class="bold">Success:</span> {{ messageSuccess }}
  </div>
  <!--<div class="message__list-container">
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
    </ul>
  </div>-->
</div>
