<button class="button button--primary">Button primary</button>

<button class="button button--secondary">Button secondary</button>

<button class="button button--destroy">Button destroy</button>

<button class="button button--disabled">Button disabled</button>
